#root {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
}

.availability-form-container{
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  text-align: center;
}

.availability-form{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

@media screen and (max-width: 635px) {
  .availability-form{
    flex-direction: column;
  }
}

.time-input{
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.meeting-scheduler{
  display: flex;
  gap: 1rem;
}

@media (max-width: 635px) {
  .meeting-scheduler{
    flex-direction: column-reverse;
  }
}

.time-slots-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.time-slot {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.time-slot:hover {
  background-color: #f0f0f0;
}

.existing-booking-container{
 min-width: 280px;
 margin-top: 34px;
}

@media screen and (max-width: 635px) {
  .existing-booking-container{
    margin-top: 0;
  }
}

.existing-bookings-box{
  list-style: none;
}

.existing-booking{
  margin-bottom: 0.5rem;
}

.booking-time{
  display: inline-block;
  margin-right: 0.5rem;
  border: 1px solid green;
  padding: 0.5rem;
  color: green;
}

.remove-booking-button{
  color: red;
}